1. Importing Data

In [1]:
import pandas as pd
import numpy as np
import json

"""
======
EDIT HERE
"""
df = pd.read_csv('Dec24.csv')

In [2]:
# Transform the data
df['Order_ID'] = df['Order#']
df['Date'] = pd.to_datetime(df['Date/Time']).dt.date
df['Time'] = pd.to_datetime(df['Date/Time']).dt.time

# Mapping Outlets to States
state_mapping = {
    'QV MELBOURNE': 'VIC',
    'CHADSTONE': 'VIC',
    'THE GLEN': 'VIC',
    'CHATSWOOD': 'NSW',
    'SYDNEY CBD': 'NSW'
}
df['State'] = df['Outlet'].map(state_mapping)

df['Revenue'] = df['Price'] * df['Qty']
df['Profit'] = df['Revenue'] - df['L.Cost(AUD)']

# Fill missing numeric values with the column mean
numeric_columns = df.select_dtypes(include=['float64']).columns
df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].mean())

# Fill missing object values with "NA"
object_columns = df.select_dtypes(include=['object']).columns
df[object_columns] = df[object_columns].fillna("NA")

df['Revenue'] = df['Revenue'].round(2)

# Add Platform column based on Sales Person
df['Platform'] = np.where(df['Sales Person'] == 'Website Admin', 'Online', 'Offline')

# Select and rename the necessary columns
df_transformed = df[['Order_ID', 'Date', 'Time', 'Outlet', 'State', 'Model', 'ProductID', 'ProductName', 'Option', 
                     'ItemBarcode', 'Brand', 'Department', 'Price', 'Qty', 'Revenue', 'Sales Person', 'Platform', 'Tax', 
                     'Avg.Cost(AUD)', 'L.Cost(AUD)', 'GP%(Avg.Cost)', 'GP%(L.Cost)', 'Profit']]
# Display the transformed data
print(df_transformed.head())

"""
=====================
EDIT HERE
"""
# Save the transformed data to a new CSV file if needed
df_transformed.to_csv('Dec24_cleaned.csv', index=False)

   Order_ID        Date      Time      Outlet State                   Model  \
0     96903  2024-12-01  02:25:32  SYDNEY CBD   NSW    ADLV-24SS-BKTUPG-BLK
1     96903  2024-12-01  02:25:32  SYDNEY CBD   NSW  16197-PRODUCT-DISCOUNT
2     96904  2024-12-01  07:47:57  SYDNEY CBD   NSW    ADLV-24SS-SSBKBF-WVH
3     96904  2024-12-01  07:47:57  SYDNEY CBD   NSW  15823-PRODUCT-DISCOUNT
4     96904  2024-12-01  07:47:57  SYDNEY CBD   NSW    ADLV-22FW-SSBKBF-BRD

   ProductID                                        ProductName Option  \
0       2648  THE POWERPUFF GIRLS X acm√© de la vie Tube top ...      1
1          0  BLK FRI - 30%<br /> - THE POWERPUFF GIRLS X ac...     NA
2       2481     BABY FACE WAVE HAIR SHORT SLEEVE T-SHIRT BLACK      2
3          0  BLK FRI - 10%<br /> - BABY FACE WAVE HAIR SHOR...     NA
4       1673     BABY FACE BEAR DOLL SHORT SLEEVE T-SHIRT BLACK      1

    ItemBarcode  ...  Qty Revenue   Sales Person  Platform    Tax  \
0  8.809977e+12  ...  1.0   259.0  Website Admin    Online  23.55
1  8.729174e+12  ...  1.0   -77.7  Website Admin    Online  -7.06
2  8.809977e+12  ...  1.0   109.0  Website Admin    Online   9.91
3  8.729174e+12  ...  1.0   -10.9  Website Admin    Online  -0.99
4  8.809902e+12  ...  1.0   109.0  Website Admin    Online   9.91

  Avg.Cost(AUD) L.Cost(AUD)  GP%(Avg.Cost)  GP%(L.Cost)      Profit
0    115.550000  115.550000      50.920000    50.920000  143.450000
1     57.334166   57.196477      51.779553    51.288734   70.427636
2     48.680000   48.680000      50.870000    50.870000   60.320000
3     57.334166   57.196477      51.779553    51.288734   70.427636
4     48.680000   48.680000      50.870000    50.870000   60.320000

[5 rows x 23 columns]

In [23]:
df_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25375 entries, 0 to 25374
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       25375 non-null  int64
 1   Date           25375 non-null  object
 2   Time           25375 non-null  object
 3   Outlet         25375 non-null  object
 4   State          25375 non-null  object
 5   Model          25375 non-null  object
 6   ProductID      25375 non-null  int64
 7   ProductName    25375 non-null  object
 8   Option         25375 non-null  float64
 9   ItemBarcode    25375 non-null  float64
 10  Brand          25375 non-null  object
 11  Department     25375 non-null  object
 12  Price          25375 non-null  float64
 13  Qty            25375 non-null  float64
 14  Revenue        25375 non-null  float64
 15  Sales Person   25375 non-null  object
 16  Platform       25375 non-null  object
 17  Tax            25375 non-null  float64
 18  Avg.Cost(AUD)  25375 non-null  float64
 19  L.Cost(AUD)    25375 non-null  float64
 20  GP%(Avg.Cost)  25375 non-null  float64
 21  GP%(L.Cost)    25375 non-null  float64
 22  Profit         25375 non-null  float64
dtypes: float64(11), int64(2), object(10)
memory usage: 4.5+ MB