1. Importing Data

In [1]:
import pandas as pd
import numpy as np
import json

"""
======
EDIT HERE
"""
df = pd.read_csv('2025_Jan_to_Feb26.csv')

In [2]:
# Transform the data
df['Order_ID'] = df['Order#']
df['Date'] = pd.to_datetime(df['Date/Time']).dt.date
df['Time'] = pd.to_datetime(df['Date/Time']).dt.time

# Mapping Outlets to States
state_mapping = {
    'QV MELBOURNE': 'VIC',
    'CHADSTONE': 'VIC',
    'THE GLEN': 'VIC',
    'CHATSWOOD': 'NSW',
    'SYDNEY CBD': 'NSW'
}
df['State'] = df['Outlet'].map(state_mapping)

df['Revenue'] = df['Price'] * df['Qty']
df['Profit'] = df['Revenue'] - df['L.Cost(AUD)']

# Fill missing numeric values with the column mean
numeric_columns = df.select_dtypes(include=['float64']).columns
df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].mean())

# Fill missing object values with "NA"
object_columns = df.select_dtypes(include=['object']).columns
df[object_columns] = df[object_columns].fillna("NA")

df['Revenue'] = df['Revenue'].round(2)

# Add Platform column based on Sales Person
df['Platform'] = np.where(df['Sales Person'] == 'Website Admin', 'Online', 'Offline')

# Select and rename the necessary columns
df_transformed = df[['Order_ID', 'Date', 'Time', 'Outlet', 'State', 'Model', 'ProductID', 'ProductName', 'Option', 
                     'ItemBarcode', 'Brand', 'Department', 'Price', 'Qty', 'Revenue', 'Sales Person', 'Platform', 'Tax', 
                     'Avg.Cost(AUD)', 'L.Cost(AUD)', 'GP%(Avg.Cost)', 'GP%(L.Cost)', 'Profit']]
# Display the transformed data
print(df_transformed.head())

"""
=====================
EDIT HERE
"""
# Save the transformed data to a new CSV file if needed
df_transformed.to_csv('2025_Jan_to_Feb26_cleaned.csv', index=False)

   Order_ID        Date      Time         Outlet State  \
0    101065  2025-01-01  00:58:49  MOUNT GRAVATT    NA
1    101065  2025-01-01  00:58:49  MOUNT GRAVATT    NA
2    101066  2025-01-01  01:19:36      CHADSTONE   VIC
3    101066  2025-01-01  01:19:36      CHADSTONE   VIC
4    101067  2025-01-01  01:34:55       THE GLEN   VIC

                    Model  ProductID  \
0   24FW-TP-SS-EX-RHG-BLK       2715
1  17507-PRODUCT-DISCOUNT          0
2    ADLV-22FW-KNLAKG-BLK       1975
3  17815-PRODUCT-DISCOUNT          0
4    ADLV-22FW-HDBKBF-MKG       1781

                                         ProductName Option   ItemBarcode  \
0  RABBIT HUG BOY BABY FACE SHORT SLEEVE T-SHIRT ...      1  8.800271e+12
1  BXD - 10%<br /> - RABBIT HUG BOY BABY FACE SHO...     NA  8.095694e+12
2         A LOGO EMBLEM EMBROIDERY KNIT GLOVES BLACK     NA  8.809902e+12
3  BXD - 60%<br /> - A LOGO EMBLEM EMBROIDERY KNI...     NA  8.095694e+12
4                   BABY FACE MILK GIRL HOODIE BLACK      2  8.809902e+12

   ...  Qty Revenue   Sales Person  Platform    Tax Avg.Cost(AUD) L.Cost(AUD)  \
0  ...  1.0   109.0  Website Admin    Online   9.91     45.750000   45.750000
1  ...  1.0   -10.9  Website Admin    Online  -0.99     60.636213   60.369634
2  ...  1.0   109.0  Website Admin    Online   9.91     48.680000   48.680000
3  ...  1.0   -65.4  Website Admin    Online  -5.95     60.636213   60.369634
4  ...  1.0   189.0  Website Admin    Online  17.18     89.930000   89.930000

   GP%(Avg.Cost)  GP%(L.Cost)     Profit
0       53.83000    53.830000  63.250000
1       52.17511    52.034173  73.062505
2       50.87000    50.870000  60.320000
3       52.17511    52.034173  73.062505
4       47.66000    47.660000  99.070000

[5 rows x 23 columns]

In [6]:
df_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       11127 non-null  int64
 1   Date           11127 non-null  object
 2   Time           11127 non-null  object
 3   Outlet         11127 non-null  object
 4   State          11127 non-null  object
 5   Model          11127 non-null  object
 6   ProductID      11127 non-null  int64
 7   ProductName    11127 non-null  object
 8   Option         11127 non-null  object
 9   ItemBarcode    11127 non-null  float64
 10  Brand          11127 non-null  object
 11  Department     11127 non-null  object
 12  Price          11127 non-null  float64
 13  Qty            11127 non-null  float64
 14  Revenue        11127 non-null  float64
 15  Sales Person   11127 non-null  object
 16  Platform       11127 non-null  object
 17  Tax            11127 non-null  float64
 18  Avg.Cost(AUD)  11127 non-null  float64
 19  L.Cost(AUD)    11127 non-null  float64
 20  GP%(Avg.Cost)  11127 non-null  object
 21  GP%(L.Cost)    11127 non-null  object
 22  Profit         11127 non-null  float64
dtypes: float64(8), int64(2), object(13)
memory usage: 2.0+ MB